name: Publish Github Pages Sphinx

on:
  push:
    branches:
      - sphinx-actions
  pull_request:
    branches:
      - sphinx-actions

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
    # 1. Checkout your repository
    - name: Checkout repository
      uses: actions/checkout@v3

    # 2. Set up Python
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    # 3. Install dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r docs/requirements.txt

    # 4. Run sphinx-apidoc
    - name: Generate API documentation
      run: |
        sphinx-apidoc -o docs geonode_provider

    # 5. Build the HTML docs (opcional)
    - name: Build HTML documentation
      run: |
        sphinx-build -b html docs docs/_build/html

     # 6. Commit and push the generated documentation
    - name: Commit and push changes
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'
        git add docs/_build/html
        git commit -m "Auto-update documentation"
        git push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}